@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap');

.list {
  padding: 25rem 0;
  background-color: $bg-color-01;

  line-height: normal;
  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem;
  }

  &__item {
    background-color: #fff;
    border-radius: 6px;

    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;

    text-align: center;

    padding: 7rem;
  }

  &__item__image {
    width: 10.3rem;
    height: 9.8rem;

    margin-bottom: 4.8rem;
  }

  &__item__title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: $text-title-color;

    margin-bottom: 2.7rem;
  }

  &__item__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
    color: $text-color;
  }
}

@media screen and (max-width: 1023px) {
  .list {
    &__inner {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }
}

@media screen and (max-width: 767px) {
  .list {
    padding: 5rem 0;

    &__inner {
      display: grid;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      grid-template-columns: unset;
      &::-webkit-scrollbar {
        display: none;
        width: 0;
      }
      & > * {
        scroll-snap-align: start;
      }
    }
  
    &__item {
      padding: 3rem 0;
    }

    &__item__image {
      margin-bottom: 3rem;
    }

    &__item__title {
      margin-bottom: 2rem;
    }
  }
}
