@import url('https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap');

.review {
  background-color: $main-color;
  padding: 14.8rem 0;

  .container {
    color: white;
    line-height: normal;

    display: flex;
    align-items: center;
  }
  &__people {
    object-fit: cover;

    width: 51.3%;
  }
  &__content {
    padding-left: 7rem;

    width: 48.7%;
} 
  &__caption {
    padding-top : 5.5rem;
    padding-bottom: 4.6rem;

    font-size: 3rem;
    span {
      font-weight: bold;
    }
  }
  &__name {
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 1.8rem;
  }
}
@media screen and (max-width: 767px) {
  .review {
    padding: 5rem 0;
    .container {
      display: block;
      
      & > * {
        width: 100%;
      }
    }
    &__content {
      padding-left: 0;
      padding-top: 3rem;
    }
    &__caption {
      padding: 2rem 0;
    }
  }
}
