.welcome {
  padding: 15rem 0;
  &__inner {
    --spacing: 13rem;
    --column: 2;
    margin-left: calc(-1 * var(--spacing));
    @include flexboxUpdate(
      (
        align-items: center,
      )
    );
  }
  &__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing);
  }
  &__content {
    &-year {
      font-size: 2.4rem;
      color: $text-color;
      display: block;
      margin-bottom: 5.5rem;
    }
    &-title {
      font-weight: 800;
      font-size: 3.6rem;
      line-height: calcLineH(36, 56);
      margin-bottom: 3rem;
    }
    &-desc {
      font-size: 1.8rem;
      color: $text-color;
      line-height: calcLineH(18, 34);
      @include textClamp(3);
      margin-bottom: 6rem;
    }
  }
  @include maxWidth(767) {
    padding: 5rem 0;
    &__inner {
      --column: 1;
      --spacing: 0;
      flex-direction: column;
    }
    &__item {
      margin-bottom: 4rem;
    }
    &__content{
      &-year{
        margin-bottom: 2rem;
      }
      &-title{
        font-size: 2.4rem;
        margin-bottom: 2rem;
      }
      &-desc{
        font-size: 1.6rem;
        margin-bottom: 2rem;
      }
    }
  }
}
