.btn {
  outline: none;
  border: none;
  padding: 2rem 6rem;
  background-color: $main-color;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.6rem;
  &--primary {
    background-color: $main-color;
    color: white;
  }
}
