// global variable
$container: 1200px;
$wrapper: 1440px;

//media query
$tablet-width: 768px;
$desktop-width: 1024px;

//color
$bg-color-01: #f8f8f9;

$main-color: #2d63d1;
$text-title-color: #393e46;
$text-color: #6a727f;

// font
$font-global: 'Open Sans', sans-serif;
