section.list 
  .container 
    .list__inner 
      +blockListItem("/images/ambulance.png", "Ambulance access", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quo! ")
      +blockListItem("/images/alert.png", "Priority attention", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quo! ")
      +blockListItem("/images/medicine.png", "Access to all medicine", "Lorem ipsum dolor sit amet consectetur adipisicing elit. Maxime, quo! ")
