section.review 
  .container
    img.review__people(src="./images/review.png" alt="people")
    .review__content 
      img(src="./images/quote.png" alt="quote")
      p.review__caption Rump spare ribs tail #[span pastrami ham hock turducken] fatback salami ham hock. 
      p.review__name Rufo Montes
