section.welcome
  .container
    .welcome__inner
      .welcome__item
        .welcome__content
          span.welcome__content-year Since 1996
          h3.welcome__content-title Welcome to our medical center
          p.welcome__content-desc Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. 
          a(href="#").btn.btn--primary Know us More
      .welcome__item
        img(src="../images/block-welcome-img.png")