@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap');
body {
  font-family: $font-global;
  font-size: 1.4rem;
  line-height: 1;
}
img {
  max-width: 100%;
  display: block;
}
a {
  text-decoration: none;
}
