@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700;800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans&family=Raleway:wght@800&display=swap");
html {
  font-size: 62.5%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; }

.wrapper {
  max-width: 1440px;
  margin: 0 auto; }

.container {
  max-width: 1230px;
  margin: 0 auto;
  padding: 0 1.5rem; }

.static {
  position: static; }

.fixed {
  position: fixed; }

.absolute {
  position: absolute; }

.relative {
  position: relative; }

.sticky {
  position: sticky; }

.d-flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex; }

.d-inline-flex {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex; }

.align-center {
  -webkit-box-align: center;
  -ms-flex-align: center;
  align-items: center; }

.align-default {
  -webkit-box-align: stretch;
  -ms-flex-align: stretch;
  align-items: stretch; }

.align-start {
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start; }

.align-end {
  -webkit-box-align: end;
  -ms-flex-align: end;
  align-items: flex-end; }

.align-baseline {
  -webkit-box-align: baseline;
  -ms-flex-align: baseline;
  align-items: baseline; }

.align-center {
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center; }

.align-default {
  -webkit-box-pack: stretch;
  -ms-flex-pack: stretch;
  justify-content: stretch; }

.align-start {
  -webkit-box-pack: start;
  -ms-flex-pack: start;
  justify-content: flex-start; }

.align-end {
  -webkit-box-pack: end;
  -ms-flex-pack: end;
  justify-content: flex-end; }

.align-baseline {
  -webkit-box-pack: baseline;
  -ms-flex-pack: baseline;
  justify-content: baseline; }

.m-auto {
  margin: 0 auto; }

.m-1 {
  margin: 1rem; }

.m-2 {
  margin: 2rem; }

.m-3 {
  margin: 3rem; }

.m-4 {
  margin: 4rem; }

.m-5 {
  margin: 5rem; }

.m-6 {
  margin: 6rem; }

.m-7 {
  margin: 7rem; }

.m-8 {
  margin: 8rem; }

.m-9 {
  margin: 9rem; }

.m-10 {
  margin: 10rem; }

.ml-auto {
  margin-left: auto; }

.ml-1 {
  margin-left: 1rem; }

.ml-2 {
  margin-left: 2rem; }

.ml-3 {
  margin-left: 3rem; }

.ml-4 {
  margin-left: 4rem; }

.ml-5 {
  margin-left: 5rem; }

.ml-6 {
  margin-left: 6rem; }

.ml-7 {
  margin-left: 7rem; }

.ml-8 {
  margin-left: 8rem; }

.ml-9 {
  margin-left: 9rem; }

.ml-10 {
  margin-left: 10rem; }

.mr-auto {
  margin-right: auto; }

.mr-1 {
  margin-right: 1rem; }

.mr-2 {
  margin-right: 2rem; }

.mr-3 {
  margin-right: 3rem; }

.mr-4 {
  margin-right: 4rem; }

.mr-5 {
  margin-right: 5rem; }

.mr-6 {
  margin-right: 6rem; }

.mr-7 {
  margin-right: 7rem; }

.mr-8 {
  margin-right: 8rem; }

.mr-9 {
  margin-right: 9rem; }

.mr-10 {
  margin-right: 10rem; }

.mt-auto {
  margin-top: auto; }

.mt-1 {
  margin-top: 1rem; }

.mt-2 {
  margin-top: 2rem; }

.mt-3 {
  margin-top: 3rem; }

.mt-4 {
  margin-top: 4rem; }

.mt-5 {
  margin-top: 5rem; }

.mt-6 {
  margin-top: 6rem; }

.mt-7 {
  margin-top: 7rem; }

.mt-8 {
  margin-top: 8rem; }

.mt-9 {
  margin-top: 9rem; }

.mt-10 {
  margin-top: 10rem; }

.mb-auto {
  margin-bottom: auto; }

.mb-1 {
  margin-bottom: 1rem; }

.mb-2 {
  margin-bottom: 2rem; }

.mb-3 {
  margin-bottom: 3rem; }

.mb-4 {
  margin-bottom: 4rem; }

.mb-5 {
  margin-bottom: 5rem; }

.mb-6 {
  margin-bottom: 6rem; }

.mb-7 {
  margin-bottom: 7rem; }

.mb-8 {
  margin-bottom: 8rem; }

.mb-9 {
  margin-bottom: 9rem; }

.mb-10 {
  margin-bottom: 10rem; }

.pt-1 {
  padding-top: 1rem; }

.pt-2 {
  padding-top: 2rem; }

.pt-3 {
  padding-top: 3rem; }

.pt-4 {
  padding-top: 4rem; }

.pt-5 {
  padding-top: 5rem; }

.pt-6 {
  padding-top: 6rem; }

.pt-7 {
  padding-top: 7rem; }

.pt-8 {
  padding-top: 8rem; }

.pt-9 {
  padding-top: 9rem; }

.pt-10 {
  padding-top: 10rem; }

.pl-1 {
  padding-left: 1rem; }

.pl-2 {
  padding-left: 2rem; }

.pl-3 {
  padding-left: 3rem; }

.pl-4 {
  padding-left: 4rem; }

.pl-5 {
  padding-left: 5rem; }

.pl-6 {
  padding-left: 6rem; }

.pl-7 {
  padding-left: 7rem; }

.pl-8 {
  padding-left: 8rem; }

.pl-9 {
  padding-left: 9rem; }

.pl-10 {
  padding-left: 10rem; }

.pr-1 {
  padding-right: 1rem; }

.pr-2 {
  padding-right: 2rem; }

.pr-3 {
  padding-right: 3rem; }

.pr-4 {
  padding-right: 4rem; }

.pr-5 {
  padding-right: 5rem; }

.pr-6 {
  padding-right: 6rem; }

.pr-7 {
  padding-right: 7rem; }

.pr-8 {
  padding-right: 8rem; }

.pr-9 {
  padding-right: 9rem; }

.pr-10 {
  padding-right: 10rem; }

.pb-1 {
  padding-bottom: 1rem; }

.pb-2 {
  padding-bottom: 2rem; }

.pb-3 {
  padding-bottom: 3rem; }

.pb-4 {
  padding-bottom: 4rem; }

.pb-5 {
  padding-bottom: 5rem; }

.pb-6 {
  padding-bottom: 6rem; }

.pb-7 {
  padding-bottom: 7rem; }

.pb-8 {
  padding-bottom: 8rem; }

.pb-9 {
  padding-bottom: 9rem; }

.pb-10 {
  padding-bottom: 10rem; }

.fz-1 {
  font-size: 1rem; }

.fz-11 {
  font-size: 1.1rem; }

.fz-12 {
  font-size: 1.3rem; }

.fz-13 {
  font-size: 1.3rem; }

.fz-14 {
  font-size: 1.4rem; }

.fz-15 {
  font-size: 1.5rem; }

.fz-16 {
  font-size: 1.6rem; }

.fz-17 {
  font-size: 1.7rem; }

.fz-18 {
  font-size: 1.8rem; }

.fz-19 {
  font-size: 1.9rem; }

.fz-2 {
  font-size: 2rem; }

.fz-21 {
  font-size: 2.1rem; }

.fz-22 {
  font-size: 2.2rem; }

.fz-23 {
  font-size: 2.3rem; }

.fz-24 {
  font-size: 2.4rem; }

.fz-25 {
  font-size: 2.5rem; }

.fz-26 {
  font-size: 2.6rem; }

.fz-27 {
  font-size: 2.7rem; }

.fz-28 {
  font-size: 2.8rem; }

.fz-29 {
  font-size: 2.9rem; }

.fz-3 {
  font-size: 3rem; }

.fz-31 {
  font-size: 3.1rem; }

.fz-32 {
  font-size: 3.2rem; }

.fz-33 {
  font-size: 3.3rem; }

.fz-34 {
  font-size: 3.4rem; }

.fz-35 {
  font-size: 3.5rem; }

.fz-36 {
  font-size: 3.6rem; }

.fz-37 {
  font-size: 3.7rem; }

.fz-38 {
  font-size: 3.8rem; }

.fz-39 {
  font-size: 3.9rem; }

.fz-4 {
  font-size: 4rem; }

.fz-41 {
  font-size: 4.1rem; }

.fz-42 {
  font-size: 4.2rem; }

.fz-43 {
  font-size: 4.3rem; }

.fz-44 {
  font-size: 4.4rem; }

.fz-45 {
  font-size: 4.5rem; }

.fz-46 {
  font-size: 4.6rem; }

.fz-47 {
  font-size: 4.7rem; }

.fz-48 {
  font-size: 4.8rem; }

.fz-49 {
  font-size: 4.9rem; }

.fz-5 {
  font-size: 5rem; }

.fz-51 {
  font-size: 5.1rem; }

.fz-52 {
  font-size: 5.2rem; }

.fz-53 {
  font-size: 5.3rem; }

.fz-54 {
  font-size: 5.4rem; }

.fz-55 {
  font-size: 5.5rem; }

.fz-56 {
  font-size: 5.6rem; }

.fz-57 {
  font-size: 5.7rem; }

.fz-58 {
  font-size: 5.8rem; }

.fz-59 {
  font-size: 5.9rem; }

.fz-6 {
  font-size: 6rem; }

.fw-bold {
  font-weight: bold; }

.fw-700 {
  font-weight: 700; }

.fw-600 {
  font-weight: 600; }

.fw-500 {
  font-weight: 500; }

.fw-400 {
  font-weight: 400; }

.fw-300 {
  font-weight: 300; }

.fw-200 {
  font-weight: 200; }

.fw-100 {
  font-weight: 100; }

.text-start {
  text-align: left; }

.text-end {
  text-align: right; }

.text-center {
  text-align: center; }

.text-decoration-none {
  text-transform: none; }

.text-decoration-underline {
  text-transform: underline; }

.text-decoration-line-through {
  text-transform: line-through; }

.text-lowercase {
  text-transform: lowercase; }

.text-uppercase {
  text-transform: uppercase; }

.text-capitalize {
  text-transform: capitalize; }

body {
  font-family: "Open Sans", sans-serif;
  font-size: 1.4rem;
  line-height: 1; }

img {
  max-width: 100%;
  display: block; }

a {
  text-decoration: none; }

.list {
  padding: 25rem 0;
  background-color: #f8f8f9;
  line-height: normal; }
  .list__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 3rem; }
  .list__item {
    background-color: #fff;
    border-radius: 6px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: center;
    padding: 7rem; }
  .list__item__image {
    width: 10.3rem;
    height: 9.8rem;
    margin-bottom: 4.8rem; }
  .list__item__title {
    font-family: 'Raleway', sans-serif;
    font-size: 2.2rem;
    color: #393e46;
    margin-bottom: 2.7rem; }
  .list__item__desc {
    font-family: 'Open Sans', sans-serif;
    font-size: 1.8rem;
    line-height: 1.8;
    color: #6a727f; }

@media screen and (max-width: 1023px) {
  .list__inner {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[2];
    grid-template-columns: repeat(2, 1fr); } }

@media screen and (max-width: 767px) {
  .list {
    padding: 5rem 0; }
    .list__inner {
      display: -ms-grid;
      display: grid;
      -webkit-box-pack: start;
      -ms-flex-pack: start;
      justify-content: flex-start;
      grid-auto-columns: 80%;
      grid-auto-flow: column;
      grid-gap: 1.5rem;
      overflow: auto;
      overflow-y: hidden;
      -ms-scroll-snap-type: x mandatory;
      scroll-snap-type: x mandatory;
      scroll-snap-stop: always;
      -ms-touch-action: manipulation;
      touch-action: manipulation;
      -webkit-overflow-scrolling: touch;
      scroll-padding: 1rem;
      -ms-grid-columns: unset;
      grid-template-columns: unset; }
      .list__inner::-webkit-scrollbar {
        display: none;
        width: 0; }
      .list__inner > * {
        scroll-snap-align: start; }
    .list__item {
      padding: 3rem 0; }
    .list__item__image {
      margin-bottom: 3rem; }
    .list__item__title {
      margin-bottom: 2rem; } }

.welcome {
  padding: 15rem 0; }
  .welcome__inner {
    --spacing: 13rem;
    --column: 2;
    margin-left: calc(-1 * var(--spacing));
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    -webkit-box-pack: start;
    -ms-flex-pack: start;
    justify-content: flex-start;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap; }
  .welcome__item {
    width: calc(calc(100% / var(--column)) - var(--spacing));
    margin-left: var(--spacing); }
  .welcome__content-year {
    font-size: 2.4rem;
    color: #6a727f;
    display: block;
    margin-bottom: 5.5rem; }
  .welcome__content-title {
    font-weight: 800;
    font-size: 3.6rem;
    line-height: 1.55556;
    margin-bottom: 3rem; }
  .welcome__content-desc {
    font-size: 1.8rem;
    color: #6a727f;
    line-height: 1.88889;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    text-overflow: ellipsis;
    width: 100%;
    max-width: 100%;
    white-space: pre-wrap;
    word-break: break-word;
    margin-bottom: 6rem; }
  @media screen and (max-width: 767px) {
    .welcome {
      padding: 5rem 0; }
      .welcome__inner {
        --column: 1;
        --spacing: 0;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column; }
      .welcome__item {
        margin-bottom: 4rem; }
      .welcome__content-year {
        margin-bottom: 2rem; }
      .welcome__content-title {
        font-size: 2.4rem;
        margin-bottom: 2rem; }
      .welcome__content-desc {
        font-size: 1.6rem;
        margin-bottom: 2rem; } }

.review {
  background-color: #2d63d1;
  padding: 14.8rem 0; }
  .review .container {
    color: white;
    line-height: normal;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center; }
  .review__people {
    -o-object-fit: cover;
    object-fit: cover;
    width: 51.3%; }
  .review__content {
    padding-left: 7rem;
    width: 48.7%; }
  .review__caption {
    padding-top: 5.5rem;
    padding-bottom: 4.6rem;
    font-size: 3rem; }
    .review__caption span {
      font-weight: bold; }
  .review__name {
    font-weight: bold;
    font-family: 'Raleway';
    font-size: 1.8rem; }

@media screen and (max-width: 767px) {
  .review {
    padding: 5rem 0; }
    .review .container {
      display: block; }
      .review .container > * {
        width: 100%; }
    .review__content {
      padding-left: 0;
      padding-top: 3rem; }
    .review__caption {
      padding: 2rem 0; } }

.btn {
  outline: none;
  border: none;
  padding: 2rem 6rem;
  background-color: #2d63d1;
  color: white;
  display: inline-block;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1.6rem; }
  .btn--primary {
    background-color: #2d63d1;
    color: white; }
